---
import Main from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/controllers/Pagination.astro";
import type { PaginateFunction } from "astro";
import { GetSortedPosts } from "../../utils/content";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const posts = await GetSortedPosts("en");
  return paginate(posts, { pageSize: 6 });
}

const props = Astro.props;
const page = props.page;
---

<Main lang="en">
  <div class="space-y-8">
    <div class="w-full space-y-4">
      {
        page.data.map((entry: any, index: number) => (
          <div
            class="onload-animation"
            style={`animation-delay: calc(var(--onload-animation-delay) + ${index + 1} * var(--onload-animation-interval));`}
          >
            <PostCard
              id={entry.id}
              title={entry.data.title}
              published={entry.data.published}
              category={entry.data.category}
              tags={entry.data.tags}
              description={entry.data.description}
              image={entry.data.cover}
              readingMetadata={
                (entry.rendered!.metadata as any).frontmatter.readingMetadata
              }
              baseUrl="/en"
            />
          </div>
        ))
      }
    </div>
    <Pagination
      class="onload-animation"
      lastPage={page.lastPage}
      current={page.currentPage}
      prevURL={page.url.prev}
      nextURL={page.url.next}
      lang="en"
      baseUrl="/en"
      style={`animation-delay: calc(var(--onload-animation-delay) + ${page.data.length + 1} * var(--onload-animation-interval));`}
    />
  </div>
</Main>